* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    rgb(18, 194, 233),
    rgb(196, 113, 237),
    rgb(246, 79, 89)
  );
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  width: 400px;
  background: linear-gradient(to right, rgb(78, 84, 200), rgb(143, 148, 251));
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.poster {
  width: 100%;
  border-radius: 10px;
  background-attachment: fixed;
  object-fit: cover;
  background-position: center;
  height: 40%;
}

.count {
  color: #002651;
}

.title {
  color: #002651;
  padding-bottom: 5px;
}

.singer {
  color: #40514e;
  font-size: 19px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 20px 0;
  margin: 0 auto;
}

i {
  color: #ff304f;
  cursor: pointer;
  font-size: 19px;
  transition: 1s;
}

.duration-time {
  color: #002651;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  font-size: 17px;
}

.fa-pause {
  display: none;
}

.fa-xmark {
  position: absolute;
  right: 4%;
  color: rgb(67, 93, 147);
  top: 2%;
  display: none;
  z-index: 1;
}

#progress {
  margin: 20px 0 0 0;
  cursor: pointer;
  width: 100%;
  color: #f469a9;
}

#menu-list {
  background-color: rgba(200, 82, 167, 0.849);
  height: 500px;
  width: 400px;
  position: absolute;
  padding: 20px 15px;
  top: 7%;
  right: -500px;
  z-index: 1;
  overflow: scroll;
  transition: 0.4s linear;
}

.nav-active {
  right: 0 !important;
}

.one {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid black;
}

.music-title {
  font-size: 20px;
  color: #002651;
  user-select: none;
}

.singers {
  user-select: none;
  color: #40514e;
}
